<div class="mtgimg">
    <img src="../assets/mtg-icon.png" alt="" id="mtg-header-img">
</div>
<div class="header-title">
    <h2>the big deck</h2>
</div>
<!--<app-modal-checkout class="header-cart"></app-modal-checkout>-->
<app-modal-login class="header-login"></app-modal-login>
<!--<div class="header-total">total</div>-->
<!--<div class="header-total-value" [innerText]="'$'+globals.totalPrice"></div>-->

