:host{
    display: grid;
    background-color: #333;
    color: #fff;
    width: 100%;
    height: 100%;
    grid-template-columns: 2fr 7fr 1fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-family: 'Montserrat', sans-serif;
}
.header-cart{
    display: flex;
    grid-column: 4/5;
    grid-row: 3/4;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    color: #F9BE6D;
    transition: background-color 250ms;
    border-radius: 25px;
    min-width: 142px;
}
.header-total{
    display:flex;
    grid-column: 4/5;
    grid-row: 1/2;
    text-transform: uppercase;
    justify-content: center;
    align-items: flex-end;
    font-size: smaller;
    color: #F9BE6D;
}

.header-total-value{
    display:flex;
    grid-column: 4/5;
    grid-row: 2/3;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    color: #F9BE6D;
}
.header-cart:hover{
    background-color: #F9BE6D;
    color: #333333;
    cursor: pointer;
}
.mtgimg{
    grid-column: 1/2;
    grid-row: 1/4;
    display:flex;
    justify-content: center;
}

#mtg-header-img{
    height: 100px;
    width: 100px;
}
.header-title{
    display:flex;
    grid-column: 2/3;
    grid-row: 1/4;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #F9BE6D;
}
.header-user-user, .header-user-admin, .header-login{
    display:flex;
    justify-content: center;
    align-items: center;
    color: #F9BE6D;
    text-transform: uppercase;
    border-radius: 25px;
    transition: background-color 250ms;
}

.header-user-user:hover, .header-user-admin:hover{
    color: #333333;
    background-color: #F9BE6D;
    cursor: pointer;
}

.header-user-user:active, .header-user-admin:active{
    background-color: #ad814e;
}
.dimmed{
    color: #5f5f5f;
}
.header-login{
    grid-column: 3/4;
    grid-row: 3/4;
}
.header-login:hover{
    background-color: #F9BE6D;
    color: #333333;
    cursor: pointer;
}
header-login:active{
    background-color: #ad814e;
}
@media (max-width: 680px){
    :host{
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #mtg-header-img{
        visibility: hidden;
    }

    .header-title{
        grid-column: 1/4;
        grid-row: 1/2;
        height: 50px;
    }

    .header-cart{
        grid-column: 3/4;
        grid-row: 2/3;
        font-size: small;
        /*border-radius: 0;*/
    }

    .header-total{
        grid-column: 1/2;
        grid-row: 2/4;
        justify-content: center;
        align-items: center;
    }

    .header-total-value{
        grid-column: 2/3;
        grid-row: 2/4;
        justify-content: flex-start;
        align-items: center;
    }
    .header-login{
        grid-column: 3/4;
        grid-row: 3/4;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        font-size: small;
        /*border-radius: 0;*/
    }
    #mtg-header-img{
        height: 0px;
        width: 0px;
    }
}

