.card-list-grid-container{
    display: grid;
    grid-template-rows: 65px auto;
    grid-template-columns: 75vw;
}
.extend {
    grid-template-rows: auto auto;
}
.card-div {
    height: 350px;
}
.card-image {
    height: 99%;
    border-radius: 13px;
    margin: 2px;
    transition: all .2s ease-in-out;
    border: solid #505050 2px;
}
.card-image:hover{
    transform: scale(1.07);
}
.grayscale:hover{
    transform: scale(1.0);
}
.grayscale:hover.is-admin:hover{
    transform: scale(1.07);
}
.container{
    grid-row: 2/3;
}
.menu-grid{
    grid-row: 1/2;
    display: grid;
    grid-template-rows: auto auto;
}

#search-text{
    color: #F9BE6D;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}
.hamburger-grid{
    display: flex;
    justify-content: center;
}
.menu-container{
    display: inline-block;
    cursor: pointer;
    grid-row: 1/2;
}
.searchFlexContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background-color: #F9BE6D;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.form-group{
    background-color: #505050;
    text-transform: uppercase;
    color: #F9BE6D;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: 300px;
    margin: 5px;
}
.form-control{
    background: #f1f1f1;
    text-transform: uppercase;
    font-size: 20px;
    color: #F9BE6D;
    background-color: #898989;
    border: none;
}
.notVisible {
    visibility: hidden;
    max-height: 0;
}
.grayscale {
    filter: grayscale();
}
.searchField::placeholder {
    color: #F9BE6D;
}
input:focus, select:focus {
    outline: none !important;
    border: none;
    box-shadow: 0 0 10px 0 #F9BE6D;
}
select:invalid {
    color: #F9BE6D;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
