<div id="card-list-grid-container" class="card-list-grid-container">
  <div class="menu-grid">
    <div class="hamburger-grid">
      <div id="header-grid" class="menu-container" (click)="searchBarsAnimation()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </div>
    <div id="search-text">search</div>
    <div class="searchFlexContainer">
      <div class = "form-group notVisible" id="searchNameDiv">
        <input type="text" class = "form-control searchField" placeholder="FILTER CARD NAME" [(ngModel)]="searchName">
      </div>
      <div class = "form-group notVisible" id="searchPowerDiv">
        <input type="number" min="0" max="20"
               oninput="javascript: if (this.value.length > 2) this.value = this.value.slice(0, 2); if (this.value < 0) this.value = 0;"
               class="form-control searchField" placeholder="FILTER POWER" [(ngModel)]="searchPower">
      </div>

      <div class = "form-group notVisible" id="searchToughnessDiv">
        <input type="number" min="0" max="20"
               oninput="javascript: if (this.value.length > 2) this.value = this.value.slice(0, 2); if (this.value < 0) this.value = 0;"
               class="form-control searchField" placeholder="FILTER TOUGHNESS" [(ngModel)]="searchToughness">
      </div>

      <div class = "form-group notVisible" id="searchCmcDiv">
        <input type="number" min="0" max="20"
               oninput="javascript: if (this.value.length > 2) this.value = this.value.slice(0, 2); if (this.value < 0) this.value = 0;"
               class="form-control searchField" id="searchCmc" placeholder="FILTER CMC" [(ngModel)]="searchCMC">
      </div>

      <div class = "form-group notVisible" id="searchColorDiv">
        <input type="text"  class="form-control searchField" id="searchColor" placeholder="FILTER COLOR" [(ngModel)]="searchColor">
      </div>

      <div class = "form-group notVisible" id="searchTextDiv">
        <input type="text" class = "form-control searchField" placeholder="FILTER TEXT" [(ngModel)]="searchText">
      </div>

      <div class = "form-group notVisible" id="searchRarityDiv">
        <input type="text" class="form-control searchField" id="searchRarity" placeholder="FILTER RARITY" [(ngModel)]="searchRarity">
      </div>

      <div class = "form-group notVisible" id="searchTypeDiv">
        <input type="text" class = "form-control searchField" placeholder="FILTER TYPE" [(ngModel)]="searchType">
      </div>

    </div>
  </div>
  <div class="container">
    <ng-container *ngFor="let card of cards | cardFilter: searchName: searchPower: searchToughness: searchCMC: searchColor: searchText: searchRarity: searchType | paginate: { itemsPerPage: 10, currentPage: p }">
      <div class="card-div" *ngIf="card.quantity > 0">
        <img src="{{card.imgsource}}" alt="" class="card-image" (click) = "onSelect(card)">
      </div>

      <div class="card-div" *ngIf="globals.isAdmin && card.quantity < 1">
        <img src="{{card.imgsource}}" alt="" class="card-image grayscale is-admin" (click) = "onEmptySelect(card)">
      </div>

      <div class="card-div" *ngIf="!globals.isAdmin && card.quantity < 1">
        <img src="{{card.imgsource}}" alt="" class="card-image grayscale"
             triggers="click" [autoClose]="true" ngbTooltip="No cards available"
             (click) = "onEmptySelect(card)">
      </div>
    </ng-container>
  </div>
  <div class="searchFlexContainer">
    <pagination-controls class="pagination-text" (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

