
<div mat-card class="example-card">
        <h1 mat-dialog-title>Login</h1>
    <div mat-card-content>
        <form class="example-form">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td><mat-form-field class="example-full-width">
                        <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
                    </mat-form-field></td>
                </tr></table>
        </form>
        <!--<mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>-->
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="login()" class="modal-button">Login</button>
    </div>
</div>
