<!--<h1 mat-dialog-title>Total: {{data.total}}</h1>-->
<!--<div mat-dialog-content [innerHTML]="data.receipt"></div>-->
<!--<div mat-dialog-actions>-->
    <!--<button mat-button cdkFocusInitial (click)="onYesClick()" class="modal-button">Accept</button>-->
    <!--<button mat-button (click)="onNoClick()" class="modal-button">Edit</button>-->
<!--</div>-->
