.container1{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
app-card-list{
    grid-column: 1/2;
}
app-deck{
    grid-column: 2/3;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #5f5f5f;
    padding-left: 5%;
}
