:host {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    display: grid;
    grid-template-rows: auto auto;
}

.deckSave {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 4fr 3px 1fr;
    grid-template-rows: 1fr 1fr;
    width: 93%;
    margin-bottom: 5px;
}

.cards-container {
    grid-row: 2/3;
    /*padding: 5% 0 0 0;*/
}

.card-image {
    width: 95%;
    border-radius: 5%;
    border: 1px #5f5f5f solid;
    /*margin-left: 2.5%;*/
    margin-right:5%;
}

.card-div{
    max-height: 4vmax;
    transition: max-height 0.25s ease-out;
}

.card-div:hover{
    max-height: 1000px;
    transition: max-height 0.20s ease-in;
    transition-delay:.6s;
}

.top-text{
    color: #F9BE6D;
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.deckSaveField {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 90%;
    color: #F9BE6D;
    background-color: #898989;
    border: none;
}

.deckSaveField::placeholder {
    color: #F9BE6D;
}


.deckSaveButton {
    grid-column: 3/4;
    grid-row: 1/2;
    height: 90%;
    width:100%;
    color: #F9BE6D;
    background-color: #333333;
    border: none;
}

#deckSavedDropdown {
    grid-column: 1/4;
    grid-row: 2/3;
    width: 100%;
    height: 90%;
    color: #F9BE6D;
    background-color: #898989;
    border: none;
}


.form-control {
    margin: 2px;
}


button:hover {
    color: #333333;
    background-color: #F9BE6D;
    cursor: pointer;
}

button:active {
    background-color: #ad814e;
}

input:focus, select:focus {
    outline: none !important;
    box-shadow: 0 0 10px 0 #F9BE6D;
}

button:focus {
    outline: none !important;
    box-shadow: 0 0 10px 0 #505050;
}



