<div class="top-text">deck</div>
<form [formGroup]="deckForm" class="deckSave" *ngIf="globals.isLoggedIn">
   <input formControlName="deckName" type="text" placeholder="DECK NAME" class = "deckSaveField form-control">
   <button mat-raised-button (click)="onCreateDeck()" class="deckSaveButton form-control">SAVE</button>
   <select formControlName="deckSelect" (change)="onOpenDeck()" name="" id="deckSavedDropdown" class="form-control">
       <option disabled selected hidden>SAVED DECKS</option>
       <ng-container *ngFor="let deck of decks">
           <option  *ngIf="deck.owner.id==globals.userID" value="{{deck.id}}">{{deck.name}} </option>
       </ng-container>
   </select>
</form>
<div class="cards-container">
  <div *ngFor="let card of deckList" class="card-div">
    <img src="{{card.imgsource}}" alt="" (click)="OnSelectRemove(card)" class="card-image">
  </div>
</div>
