/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: #505050;
}
.container {
    display: flex; /* or inline-flex */
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}
.mat-figure {
    align-items: flex-start !important;  /*vertical alignment*/
}

.deckcontainer{
    background-color: #5f5f5f;
}

.left-element {
    text-align: left;
    width: 90%;
}
.right-element {
    text-align: right;
    width: 10%;
}
.receipt-box {
    justify-content: space-between;
}
.modal-button{
    display: inline-block;
    font-size: 16px;
    color: #333;
    width: 48%;
    padding: 7px;
    margin: 20px 2px 2px;
    transition: .5s;
}
.pagination-text {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.ngx-pagination, .disabled {
    color: #ad814e !important;
}
.ngx-pagination a {
    color: #F9BE6D !important;
    text-decoration: none;
}
.ngx-pagination .current {
    background-color: #F9BE6D !important;
    color: #333333 !important;
}
.ngx-pagination a:hover{
    background-color: #F9BE6D !important;
    color: #333333 !important;
}
.modal-button:hover{
    background-color: #F9BE6D;
}
.tooltip-inner{
    background-color: #F9BE6D;
    color: #333333;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    max-width: 150px;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    top: 0;
    border-width: .4rem .4rem 0;
    border-top-color: #F9BE6D;
}
.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
    bottom: 0;
    border-width: 0 .4rem .4rem;
    border-bottom-color: #F9BE6D;
}
.tooltip.show {
    opacity: 1;
}
.width-seventy_five_percent {
    width: 75%;
}
.width-twenty_five_percent {
    width: 25%;
}
